### DATABASE CREATION

In [2]:
from sqlalchemy import create_engine
from urllib.parse import quote
import numpy as np
import pandas as pd
import mysql.connector as mc

In [2]:
#connecting to database mysql.connector

In [3]:
db_conn = mc.connect(user='root',password='Summer@1',host='localhost')
db_cursor = db_conn.cursor()

In [4]:
#creating IPL database

In [5]:
db_cursor.execute('''create database ipl''')
db_conn.commit()
db_cursor.execute('''use ipl''')

In [6]:
#connecting to database using sqlalchemy

In [7]:
sql_engine = create_engine("mysql://root:%s@localhost/ipl" % quote('Summer@1'),echo=False)

In [8]:
#creating table user

In [9]:
query = '''create table user(
           userID varchar(20) primary key,
           name varchar(50) not null,
           email varchar(70) not null unique,
           password varchar(50) not null,
           createdON datetime default current_timestamp(),
           profilePic varchar(100) default "pics/profile/thumbnail/default.png",
           isAdmin tinyint(1) default 0)'''
db_cursor.execute(query)
db_conn.commit()

In [ ]:
#creating root user
query = '''insert into user(userID,name,email,password,isAdmin)
values("root","shashwat","142102012@smail.iitpkd.ac.in","123",1)
'''
df = pd.DataFrame()
df.to_csv("log/root.csv",index=False)

In [10]:
#creating table matches

In [11]:
matches = pd.read_csv('MATCHES.csv')
query = '''create table matches(
           matchID int(7) primary key,
           date varchar(20),
           venueID int(2),
           team1 int(2),
           team2 int(2),
           tossWin int(2),
           tossDecision varchar(20),
           playerOfMatch varchar(100),
           winner int(2),
           result varchar(20),
           resultMargin int(3))'''
db_cursor.execute(query)
db_conn.commit()
matches.to_sql('matches',con=sql_engine,if_exists = 'append',index=False)

In [12]:
#creating table ball_by_ball

In [13]:
ball_by_ball = pd.read_csv('BALL_BY_BALL.csv')
query = '''create table ball_by_ball(
           id int(6) primary key,
           matchID int(7),
           inning int(1),
           overs int(2),
           ball int(1),
           batsman varchar(100),
           nonStriker varchar(100),
           bowler varchar(100),
           batsmanRuns int(3),
           extraRuns int(1),
           totalRuns int(3),
           isWicket tinyint(1))'''
db_cursor.execute(query)
db_conn.commit()
ball_by_ball.to_sql('ball_by_ball',con=sql_engine,if_exists = 'append',index=False)

In [14]:
#creating table wicket

In [15]:
wicket = pd.read_csv('WICKET.csv')
query = '''create table wicket(
           id int(6) primary key,
           dismissalKind varchar(100),
           playerDismissed varchar(100),
           fielder varchar(100))'''
db_cursor.execute(query)
db_conn.commit()
wicket.to_sql('wicket',con=sql_engine,if_exists = 'append',index=False)

In [16]:
#creating table extras

In [17]:
extras = pd.read_csv('EXTRAS.csv')
query = '''create table extras(
           id int(6) primary key,
           runs int(1),
           type varchar(100),
           bowler varchar(100))'''
db_cursor.execute(query)
db_conn.commit()
extras.to_sql('extras',con=sql_engine,if_exists = 'append',index=False)

In [18]:
#creating table boundary

In [19]:
boundary = pd.read_csv('BOUNDARY.csv')
query = '''create table boundary(
           id int(6) primary key,
           batsman varchar(100),
           bowler varchar(100),
           runs int(1))'''
db_cursor.execute(query)
db_conn.commit()
boundary.to_sql('boundary',con=sql_engine,if_exists = 'append',index=False)

In [20]:
#creating table teams

In [21]:
teams = pd.read_csv('TEAMS.csv')
query = '''create table teams(
           teamID int(2) primary key,
           name varchar(100),
           createdON varchar(10),
           lastMatchOn varchar(10))'''
db_cursor.execute(query)
db_conn.commit()
teams.to_sql('teams',con=sql_engine,if_exists = 'append',index=False)

In [22]:
#creating table location

In [23]:
location = pd.read_csv('LOCATION.csv')
query = '''create table location(
           venueID int(2) primary key,
           venue varchar(100),
           city varchar(100),
           homeTeamID varchar(20))'''
db_cursor.execute(query)
db_conn.commit()
location.to_sql('location',con=sql_engine,if_exists = 'append',index=False)

In [24]:
#creating table duckworth_lewis_matches

In [25]:
duckworth_lewis_matches = pd.read_csv('DUCKWORTH_LEWIS_MATCHES.csv')
query = '''create table duckworth_lewis_matches(
           matchID int(7) primary key)'''
db_cursor.execute(query)
db_conn.commit()
duckworth_lewis_matches.to_sql('duckworth_lewis_matches',con=sql_engine,if_exists = 'append',index=False)

In [26]:
#altering table to add foreign key constraints

In [27]:
#db_cursor.execute("ALTER TABLE matches ADD CONSTRAINT FOREIGN KEY (venueID) REFERENCES location(venueID);")
#db_cursor.execute("ALTER TABLE matches ADD CONSTRAINT FOREIGN KEY (team1) REFERENCES teams(teamID);")
#db_cursor.execute("ALTER TABLE matches ADD CONSTRAINT FOREIGN KEY (team2) REFERENCES teams(teamID);")
#db_cursor.execute("ALTER TABLE matches ADD CONSTRAINT FOREIGN KEY (winner) REFERENCES teams(teamID);")
#db_cursor.execute("ALTER TABLE ball_by_ball ADD CONSTRAINT FOREIGN KEY (matchID) REFERENCES matches(matchID);")
#db_conn.commit()

In [28]:
#just if you want to drop database

In [29]:
# db_cursor.execute('drop database ipl')
# db_conn.commit()

In [30]:
#closing connections

In [31]:
db_conn.close()
sql_engine.dispose()

In [32]:
#DATABASE CREATED